node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
PANDUAN_MIGRASI_GITHUB.md
perubahan-flow-bisnis.md
db/
skill.md
Skill-assessment.md
test_db.mjs
fms_backend_endpoints.md
FMS_Backend_Refactor.md
PRD.md
backend-endpoints.md

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

presensi/
ai-bridge/
go-map/
logs/
db/
test_db.mjs